# Node modules
node_modules/
*/node_modules/
*/*/node_modules/

# Next.js
.client/.next/
client/.next/

# Build directories
common/build/
*/build/

# Specific paths
/auth/node_modules/
/client/node_modules/
/common/build/
/tickets/node_modules/